[Unit]
Description=Simple random DNS, HTTP/S internet traffic noise generator
After=network-online.target
Wants=network-online.target

[Service]
User=noisy
Type=simple
ExecStart=/usr/local/bin/noisy --config /opt/noisy/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
